[submodule "extract-function"]
	path = extract-function
	url = https://github.com/kaiosilveira/refactoring-extract-function.git
[submodule "extract-variable"]
	path = extract-variable
	url = https://github.com/kaiosilveira/extract-variable-refactoring.git
[submodule "inline-variable"]
	path = inline-variable
	url = https://github.com/kaiosilveira/inline-variable-refactoring.git
[submodule "change-function-declaration"]
	path = change-function-declaration
	url = https://github.com/kaiosilveira/change-function-declaration-refactoring.git
[submodule "encapsulate-variable"]
	path = encapsulate-variable
	url = https://github.com/kaiosilveira/encapsulate-variable-refactoring.git
[submodule "inline-function"]
	path = inline-function
	url = https://github.com/kaiosilveira/inline-function-refactoring.git
[submodule "rename-variable"]
	path = rename-variable
	url = https://github.com/kaiosilveira/rename-variable-refactoring.git
[submodule "introduce-parameter-object"]
	path = introduce-parameter-object
	url = https://github.com/kaiosilveira/introduce-parameter-object-refactoring.git
[submodule "combine-functions-into-class"]
	path = combine-functions-into-class
	url = https://github.com/kaiosilveira/combine-functions-into-class-refactoring.git
[submodule "combine-functions-into-transform"]
	path = combine-functions-into-transform
	url = https://github.com/kaiosilveira/combine-functions-into-transform.git
[submodule "split-phase"]
	path = split-phase
	url = https://github.com/kaiosilveira/split-phase-refactoring.git
[submodule "encapsulate-record-refactoring"]
	path = encapsulate-record
	url = https://github.com/kaiosilveira/encapsulate-record-refactoring
[submodule "encapsulate-collection"]
	path = encapsulate-collection
	url = https://github.com/kaiosilveira/encapsulate-collection-refactoring.git
[submodule "replace-primitive-with-object"]
	path = replace-primitive-with-object
	url = https://github.com/kaiosilveira/replace-primitive-with-object-refactoring.git
[submodule "replace-temp-with-query"]
	path = replace-temp-with-query
	url = https://github.com/kaiosilveira/replace-temp-with-query-refactoring.git
[submodule "extract-class"]
	path = extract-class
	url = https://github.com/kaiosilveira/extract-class-refactoring.git
[submodule "inline-class"]
	path = inline-class
	url = https://github.com/kaiosilveira/inline-class-refactoring
[submodule "hide-delegate"]
	path = hide-delegate
	url = https://github.com/kaiosilveira/hide-delegate-refactoring.git
[submodule "remmove-middle-man"]
	path = remmove-middle-man
	url = https://github.com/kaiosilveira/remove-middle-man-refactoring.git
[submodule "remove-middle-man"]
	path = remove-middle-man
	url = https://github.com/kaiosilveira/remove-middle-man-refactoring.git
[submodule "substitute-algorithm"]
	path = substitute-algorithm
	url = https://github.com/kaiosilveira/substitute-algorithm-refactoring.git
[submodule "move-function"]
	path = move-function
	url = https://github.com/kaiosilveira/move-function-refactoring.git
[submodule "move-field"]
	path = move-field
	url = https://github.com/kaiosilveira/move-field-refactoring.git
[submodule "move-statements-into-function"]
	path = move-statements-into-function
	url = https://github.com/kaiosilveira/move-statements-into-function-refactoring.git
[submodule "move-statements-into-callers"]
	path = move-statements-into-callers
	url = https://github.com/kaiosilveira/move-statements-into-callers-refactoring.git
[submodule "replace-inline-code-with-function-call"]
	path = replace-inline-code-with-function-call
	url = https://github.com/kaiosilveira/replace-inline-code-with-function-call-refactoring.git
[submodule "slide-statements"]
	path = slide-statements
	url = https://github.com/kaiosilveira/slide-statements-refactoring.git
[submodule "split-loop"]
	path = split-loop
	url = https://github.com/kaiosilveira/split-loop-refactoring.git
[submodule "replace-loop-with-pipeline"]
	path = replace-loop-with-pipeline
	url = https://github.com/kaiosilveira/replace-loop-with-pipeline-refactoring.git
[submodule "remove-dead-code"]
	path = remove-dead-code
	url = https://github.com/kaiosilveira/remove-dead-code-refactoring.git
[submodule "split-variable"]
	path = split-variable
	url = https://github.com/kaiosilveira/split-variable-refactoring.git
[submodule "rename-field"]
	path = rename-field
	url = https://github.com/kaiosilveira/rename-field-refactoring
[submodule "replace-derived-variable-with-query"]
	path = replace-derived-variable-with-query
	url = https://github.com/kaiosilveira/replace-derived-variable-with-query-refactoring.git
[submodule "change-reference-to-value"]
	path = change-reference-to-value
	url = https://github.com/kaiosilveira/change-reference-to-value-refactoring.git
[submodule "change-value-to-reference"]
	path = change-value-to-reference
	url = https://github.com/kaiosilveira/change-value-to-reference-refactoring.git
[submodule "decompose-conditional"]
	path = decompose-conditional
	url = https://github.com/kaiosilveira/decompose-conditional-refactoring.git
[submodule "consolidate-conditional-expression"]
	path = consolidate-conditional-expression
	url = https://github.com/kaiosilveira/consolidate-conditional-expression-refactoring.git
[submodule "replace-nested-conditional-with-guard-clauses"]
	path = replace-nested-conditional-with-guard-clauses
	url = https://github.com/kaiosilveira/replace-nested-conditional-with-guard-clauses-refactoring.git
[submodule "replace-conditional-with-polymorphism"]
	path = replace-conditional-with-polymorphism
	url = https://github.com/kaiosilveira/replace-conditional-with-polymorphism-refactoring.git
[submodule "introduce-special-case"]
	path = introduce-special-case
	url = https://github.com/kaiosilveira/introduce-special-case-refactoring.git
[submodule "introduce-assertion"]
	path = introduce-assertion
	url = https://github.com/kaiosilveira/introduce-assertion-refactoring.git
[submodule "separate-query-from-modifier"]
	path = separate-query-from-modifier
	url = https://github.com/kaiosilveira/separate-query-from-modifier-refactoring.git
[submodule "parameterize-function"]
	path = parameterize-function
	url = https://github.com/kaiosilveira/parameterize-function-refactoring.git
[submodule "remove-flag-argument"]
	path = remove-flag-argument
	url = https://github.com/kaiosilveira/remove-flag-argument-refactoring
[submodule "preserve-whole-object"]
	path = preserve-whole-object
	url = https://github.com/kaiosilveira/preserve-whole-object-refactoring.git
[submodule "replace-parameter-with-query"]
	path = replace-parameter-with-query
	url = https://github.com/kaiosilveira/replace-parameter-with-query-refactoring
[submodule "replace-query-with-parameter"]
	path = replace-query-with-parameter
	url = https://github.com/kaiosilveira/replace-query-with-parameter-refactoring.git
[submodule "remove-setting-method"]
	path = remove-setting-method
	url = https://github.com/kaiosilveira/remove-setting-method-refactoring.git
[submodule "replace-constructor-with-factory-function"]
	path = replace-constructor-with-factory-function
	url = https://github.com/kaiosilveira/replace-constructor-with-factory-function-refactoring
[submodule "replace-function-with-command"]
	path = replace-function-with-command
	url = https://github.com/kaiosilveira/replace-function-with-command-refactoring.git
[submodule "replace-command-with-function"]
	path = replace-command-with-function
	url = https://github.com/kaiosilveira/replace-command-with-function-refactoring
[submodule "pull-up-method"]
	path = pull-up-method
	url = https://github.com/kaiosilveira/pull-up-method-refactoring.git
[submodule "pull-up-field"]
	path = pull-up-field
	url = https://github.com/kaiosilveira/pull-up-field-refactoring.git
[submodule "pull-up-constructor-body"]
	path = pull-up-constructor-body
	url = https://github.com/kaiosilveira/pull-up-constructor-body-refactoring.git
[submodule "push-down-method"]
	path = push-down-method
	url = https://github.com/kaiosilveira/push-down-method-refactoring.git
[submodule "replace-type-code-with-subclasses"]
	path = replace-type-code-with-subclasses
	url = https://github.com/kaiosilveira/replace-type-code-with-subclasses-refactoring.git
[submodule "remove-subclass"]
	path = remove-subclass
	url = https://github.com/kaiosilveira/remove-subclass-refactoring.git
[submodule "extract-superclass"]
	path = extract-superclass
	url = https://github.com/kaiosilveira/extract-superclass-refactoring.git
[submodule "collapse-hierarchy"]
	path = collapse-hierarchy
	url = https://github.com/kaiosilveira/collapse-hierarchy-refactoring
[submodule "replace-subclass-with-delegate"]
	path = replace-subclass-with-delegate
	url = https://github.com/kaiosilveira/replace-subclass-with-delegate-refactoring.git
[submodule "replace-superclass-with-delegate"]
	path = replace-superclass-with-delegate
	url = https://github.com/kaiosilveira/replace-superclass-with-delegate-refactoring.git
