[submodule "extract-function"]
	path = extract-function
	url = https://github.com/kaiosilveira/refactoring-extract-function.git
[submodule "extract-variable"]
	path = extract-variable
	url = https://github.com/kaiosilveira/extract-variable-refactoring.git
[submodule "inline-variable"]
	path = inline-variable
	url = https://github.com/kaiosilveira/inline-variable-refactoring.git
[submodule "change-function-declaration"]
	path = change-function-declaration
	url = https://github.com/kaiosilveira/change-function-declaration-refactoring.git
[submodule "encapsulate-variable"]
	path = encapsulate-variable
	url = https://github.com/kaiosilveira/encapsulate-variable-refactoring.git
[submodule "inline-function"]
	path = inline-function
	url = https://github.com/kaiosilveira/inline-function-refactoring.git
